In [315]:
import pandas as pd
from sklearn import model_selection, linear_model, tree, metrics, ensemble

In [316]:
with open('data/winequality-red.csv') as f:
    data = f.readlines()
    data = [item[1:-2].split(';') for item in data]

In [317]:
df = pd.DataFrame(data[1:], columns=[item.strip('""') for item in data[0]])

In [318]:
df.quality.value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [319]:
df= df.astype(float)

In [320]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5.0
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5.0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7.0
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7.0
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5.0

In [321]:
X = df.drop(['quality'], axis=1)

In [322]:
def clf(item):
    return 1 if item >= 6 else 0

In [323]:
df['quality'] = df['quality'].apply(clf)

In [324]:
y = df['quality'].apply(clf)

In [325]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,0

In [277]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.3, random_state=42)

In [278]:
logreg = linear_model.LogisticRegression()

In [279]:
logreg.fit(X_train, y_train)

/home/valeriy/Documents/SkilFactory_curse/venv/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [280]:
y_logreg_pred = logreg.predict(X_test)

In [281]:
metrics.f1_score(y_test, y_logreg_pred)

0.7317909168808913

In [303]:
dtclf = tree.DecisionTreeClassifier(max_depth=11, random_state=42).fit(X_train, y_train)
y_dtclf_pred = dtclf.predict(X_test)

In [304]:
metrics.f1_score(y_test, y_dtclf_pred)

0.7215619694397284

In [305]:
model = linear_model.LogisticRegression()
bclf = ensemble.BaggingClassifier(base_estimator=dtclf, n_estimators=1500, random_state=42)
bclf.fit(X_train, y_train)
y_pred = bclf.predict(X_test)

In [306]:
metrics.f1_score(y_test, y_pred)

0.7598627787307033